html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-left: 0;
  margin-right: 0;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-family: "Titan One", cursive;
}

h1, h2, p {
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

body.menu-open {
  overflow: hidden;
}

.page {
  margin: 0;
}
.page .container-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  position: relative;
  display: flex;
}
@media screen and (min-width: 768px) {
  .page .container-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    position: relative;
  }
}

@media screen and (max-width: 450px) {
  .container-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
}

.page-header {
  position: relative;
  background-color: #FFB8CA;
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 37px;
  }
}
@media screen and (min-width: 768px) {
  .page-header .container-button {
    display: flex;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .page-header .container-button {
    display: flex;
    margin: 0;
  }
}

.header {
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .logo-img {
    margin-right: 110px;
  }
}

.menu-list {
  font-family: "DM Sans";
  list-style: none;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
@media screen and (max-width: 767px) {
  .menu-list {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list {
    display: flex;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-item:not(:last-child) {
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-item:not(:last-child) {
    margin-right: 35px;
  }
}

.menu-link {
  text-decoration: none;
  color: #FFFFFF;
}
.menu-link:hover, .menu-link:focus {
  color: #D41443;
}

.menu-link--primary {
  color: #D41443;
  text-decoration: none;
}

.button-buy {
  background: #FFFFFF;
  border-radius: 22px;
  border: 0;
  cursor: pointer;
  background-image: url(/images/Vector-1.svg);
  background-repeat: no-repeat;
}
@media screen and (min-width: 320px) {
  .button-buy {
    background-position: 160px;
    padding: 12px 86px 12px 80px;
  }
}
@media screen and (min-width: 768px) {
  .button-buy {
    margin-left: 110px;
    background-position: 110px;
    padding: 12px 53px 12px 37px;
  }
}

.button-buy span {
  color: #D41443;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.button-menu {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .button-menu {
    margin-left: 162px;
  }
}
@media screen and (min-width: 1200px) {
  .button-menu {
    display: none;
  }
}

.button-menu .icon-cross {
  display: none;
}

.button-menu.is-open .icon-cross {
  display: block;
}

.button-menu.is-open .icon-menu {
  display: none;
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-container {
    background-color: #E17992;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .menu-container {
    background-color: #E17992;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: flex;
  }
}

@media screen and (min-width: 320px) {
  .hero-section {
    padding-top: 130px;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 90px;
  }
}

.hero-container {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .hero-container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    width: 1200px;
  }
}

.hero-title {
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 19px;
    position: relative;
    z-index: 2;
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 22px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 38px;
    line-height: 44px;
    margin-top: 84px;
    margin-bottom: 25px;
  }
}

.hero-title-unit {
  color: #D41443;
}
@media screen and (min-width: 320px) {
  .hero-title-unit {
    font-size: 48px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
  }
}

.button-products {
  background: #D41443;
  border-radius: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  border: 0;
  cursor: pointer;
  border: 0;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) {
  .button-products {
    font-size: 8px;
    line-height: 10px;
    padding: 6px 9px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .button-products {
    font-size: 8px;
    line-height: 10px;
    padding: 8px 10px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .button-products {
    font-size: 14px;
    line-height: 18px;
    padding: 9px 16px;
    margin-right: 17px;
  }
}

.button-made {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #D41443;
  background: #FFFFFF;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}
.button-made:hover {
  background-color: #D41443;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) {
  .button-made {
    font-size: 8px;
    line-height: 10px;
    padding: 6px 10px;
    z-index: 2;
  }
}
@media screen and (min-width: 768px) {
  .button-made {
    font-size: 8px;
    line-height: 10px;
    padding: 8px 10px;
    margin-left: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .button-made {
    font-size: 14px;
    line-height: 18px;
    padding: 9px 16px;
    margin-right: 17px;
  }
}

.hero-button {
  display: flex;
}

.product-container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .product-container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .product-container {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .product-img {
    width: 124px;
  }
}
@media screen and (min-width: 1200px) {
  .product-img {
    margin-top: 56px;
    margin-bottom: 45px;
    width: 188px;
  }
}

.product-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .product-text {
    font-size: 8px;
    line-height: 150%;
    margin-bottom: 20px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .product-text {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .product-group {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .product-group {
    margin-top: 112px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    margin-left: 38px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    display: none;
  }
}

.place-number {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 2px;
}
@media screen and (min-width: 768px) {
  .place-number {
    font-size: 28px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .place-number {
    font-size: 46px;
    line-height: 53px;
  }
}

@media screen and (max-width: 767px) {
  .group {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .plase-container {
    margin-left: 59px;
    margin-top: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .plase-container {
    margin-left: 170px;
    margin-top: 74px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: none;
  }
}

.place-trucks {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 6px;
}
@media screen and (min-width: 768px) {
  .place-trucks {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .place-trucks {
    font-size: 14px;
    line-height: 18px;
  }
}

.place-cafe {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .place-cafe {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .place-cafe {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 768px) {
  .girl-img {
    margin-top: 80px;
    position: relative;
    right: 30%;
    top: 3%;
    width: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .girl-img {
    margin-top: 135px;
    position: relative;
    right: 18%;
    top: 1%;
    width: 293px;
  }
}

@media screen and (min-width: 350px) {
  .hero-images {
    position: absolute;
    top: 2%;
    left: 30%;
    width: 156px;
    z-index: 100;
  }
}
@media screen and (min-width: 768px) {
  .hero-images {
    position: absolute;
    left: 17%;
    top: 9%;
    width: 143px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-images {
    position: absolute;
    left: 13%;
    top: 9%;
    width: 236px;
  }
}

.circle {
  background-color: #FFA5BA;
}
@media screen and (max-width: 767px) {
  .circle {
    width: 346px;
    height: 344px;
    border-radius: 50%;
    position: relative;
    right: 38%;
    top: -19%;
  }
}
@media screen and (min-width: 768px) {
  .circle {
    width: 324px;
    height: 322px;
    border-radius: 50%;
    position: relative;
    bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .circle {
    width: 538px;
    height: 538px;
    border-radius: 500px;
    position: relative;
    top: -4%;
    left: 70px;
  }
}

.circle-groupe::after {
  content: "";
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 50px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .circle-groupe::after {
    width: 16px;
    height: 16px;
    bottom: 9px;
    right: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .circle-groupe::after {
    width: 30px;
    height: 30px;
    right: 15px;
    bottom: 15px;
  }
}

.wrapper {
  background-color: #ffb8ca;
}/*# sourceMappingURL=main.css.map */